<h1>List of Restaurants</h1>

<%= link_to 'New Restaurant', new_restaurant_path %>

  <% @restaurants.each do |restaurant| %>
    <h5><%= restaurant.name %></h5>
    <p><%= restaurant.address %></p>
    <p><%= restaurant.phone_number %></p>
    <p><%= restaurant.category %></p>
    <p><%= link_to 'Show', restaurant %></p>
    <p><%= link_to 'Edit', edit_restaurant_path(restaurant) %></p>
    <p><%= link_to 'Destroy', restaurant, method: :delete, data: {confirm: 'Are you sure?' } %></p>
  <% end %>




