<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<%= link_to 'Add a review', new_restaurant_review_path(@restaurant) %>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @restaurant.phone_number %>
</p>

<p>
  <strong>Category:</strong>
  <%= @restaurant.category %>
</p>

<p>
  <strong>Review:</strong>
  <ul>
  <% @restaurant.reviews.each do |review| %>
  <li> Content: <%= review.content%> Rating: <%= review.rating %></li>
  <% end %>
</ul>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %>
<%= link_to 'Back', restaurants_path %>
